node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
coverage
.features-gen
playwright-report
test-results
reports
.stryker-tmp
stryker.log
e2e/.credentials.json
